.form-control {
  @apply flex flex-col bg-transparent w-full;
}

.textarea {
  @apply w-full outline-0 px-3 py-2 border border-gray-300 rounded-lg bg-white;

  &:focus,
  &:hover {
    @apply border border-theme bg-white;
  }

  &.disabled {
    @apply bg-gray-100 pointer-events-none opacity-80;
  }

  &.error {
    @apply border-red-500;
  }
}

.error-text {
  @apply text-sm text-red-500 tracking-normal;
}
