.option-card {
	@apply flex gap-2 p-2 items-center border border-gray-300 rounded-md shadow cursor-grab;
	@apply w-full bg-white;

	&__label {
		@apply text-sm md:text-base;
	}

	svg {
		@apply shrink-0 w-4 h-4 mb-3 sm:mb-4 md:mb-0;
	}
}
