.modal-wrapper {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50;

  .modal {
    @apply bg-white rounded-none sm:rounded-lg shadow-lg p-8 grid content-center relative;
    @apply w-full h-full sm:h-max sm:w-fit min-w-96 min-h-40;

    .modal-close {
      @apply absolute top-4 right-4;
    }

    .modal-title {
      @apply text-2xl mb-4 text-center;
    }

    .modal-description {
      @apply text-center text-gray-700 mb-4;
    }

    .link-to-copy {
      @apply bg-gray-200 rounded p-4 mb-4 cursor-pointer flex items-center gap-3 max-w-md hover:bg-gray-300 transition;

      .link-content {
        @apply overflow-x-hidden;
      }

      .link-icon {
        @apply p-2 bg-white rounded-md;
      }
    }

    .modal-buttons {
      @apply flex justify-end mt-4;
    }
  }
}
