button.btn {
  @apply flex
    justify-center
    items-center
    rounded-md
    bg-theme
    px-3
    py-1.5
    text-sm
    font-semibold
    leading-6
    text-white
    shadow-sm;
}

button.btn:hover {
  @apply bg-theme-dark;
}

button.btn:focus-visible {
  @apply outline
    outline-2
    outline-black;
}

button.btn.disabled {
  @apply opacity-50 pointer-events-none;
}

button.btn.light {
  @apply bg-white text-gray-400 shadow-none;
}

button.btn.light:hover {
  @apply bg-gray-100;
}

button.btn.iconOnly {
  @apply p-2 h-max;
}
