.me {
    @apply lg:p-10;
    @apply md:min-h-96;
    @apply relative m-auto border-solid border-2 border-theme rounded-2xl max-w-screen-md;
    @apply px-2 py-6;

    @media screen and (min-width: 320px) {
        @apply min-h-60;
    }

    &-edit {
        @apply lg:top-10 lg:right-10;
        @apply absolute top-2 right-2;
        @apply w-10 border border-solid border-gray-300 rounded-full p-2 cursor-pointer transition-all;

        & path {
            @apply stroke-black transition-all;
        }

        &:hover {
            @apply border-theme;

            & path {
                @apply stroke-cyan-700;
            }
        }
    }

    &-icon {
        @apply lg:w-full;
        @apply w-1/2 max-w-md m-auto;
    }

    &-avatar {
        @apply lg:w-full;
        @apply w-60 h-60 m-auto object-cover mb-10;
        border-radius: 50%;
    }

    &-fio {
        @apply text-center m-2;
    }

    &-email {
        @apply text-center;
    }
}