.answer-card {
  @apply border border-gray-200 rounded-md bg-white;
  @apply grid px-4 pt-4 pb-6;

  .question-title {
    @apply mb-3;

    .required {
      @apply text-red-500 ml-1;
    }
  }

  .answer-options {
    @apply grid gap-2;

    .error-text {
      @apply border-red-500 mt-1;
    }
  }
}
