.responses {
	&__title {
		@apply font-bold text-center text-xl mb-5;
	}

	&__list {
		@apply flex flex-col gap-4;
	}

	&__top {
		@apply flex gap-4 justify-end mb-5;
		@apply flex-col sm:flex-row;
	}

	&__form {
		@apply flex gap-2 flex-wrap justify-end;
	}
	
	&__sort {
		@apply w-full;
		@apply sm:w-96;

		> select {
			@apply w-full h-11 p-2 border bg-white rounded-lg;
			@apply focus:outline-0;
		}
	}

	&__filter {
		@apply w-full;
		@apply sm:w-96;
		@apply flex gap-2 flex-col xs:flex-row;
	}

	&__empty {
		@apply text-center;
	}
}

.responses-item {
	@apply bg-white rounded-lg hover:drop-shadow;

	&__title {
		@apply font-medium;
	}

	&__link {
		@apply p-5 flex items-center justify-between w-full h-full;
		@apply flex-col sm:flex-row;
	}

	&__date {
		@apply text-gray-500;
	}
}