.home {
    &-top {
        @apply flex justify-between items-center gap-2 flex-col;
        @apply md:flex-row md:gap-8;

        &__search {
            @apply w-full;
            @apply md:w-96;
        }

        &__sort {
            @apply w-full;
            @apply md:w-96;

            > select {
                @apply w-full h-11 p-2 border rounded-lg;
                @apply focus:outline-0;
            }
        }
    }

    &-list {
        @apply grid grid-cols-1 gap-8 mt-10 relative;
        @apply sm:grid-cols-2;
        @apply lg:grid-cols-3;
    }

    &-item {
        @apply relative p-2 h-60 border rounded-lg border-gray-400 bg-white;

        &__edit {
            @apply absolute -top-2 -left-2;
            @apply border rounded-full border-gray-600 p-1 bg-white;

            > svg {
                @apply block w-8 h-8 cursor-pointer;
                @apply hover:text-theme;;
            }
        }

        &__remove {
            @apply absolute -top-2 -right-2;
            @apply border rounded-full border-red-600 p-1 bg-white;

            > svg {
                @apply block w-8 h-8 cursor-pointer;
                @apply hover:opacity-80;

                path {
                    @apply stroke-red-600;
                }
            }
        }

        &__name {
            @apply text-center text-lg font-bold;
        }

        &__responses {
            @apply absolute bottom-1 right-3;
            @apply font-medium underline;
            @apply hover:text-theme;
        }

        &__survey {
            @apply absolute bottom-1 left-3;
            @apply font-medium underline;
            @apply hover:text-theme;
        }
    }
}