.header {
  @apply sm:fixed w-full top-0 bg-white border-b px-2 sm:px-6 lg:px-8 bg-theme-dark z-10;
}

.header-grid {
  @apply flex mx-auto max-w-7xl h-16 items-center justify-between;
}

/* -- Desktop Navigation -- */

.navigation {
  @apply hidden
    sm:block
    flex
    flex-1
    space-x-4
    items-center
    justify-center
    sm:items-stretch
    sm:justify-start;
}

.navigation-item {
  @apply px-3
    py-2
    text-sm
    text-white
    font-medium
    rounded-md
    border-2
    border-transparent
    focus-visible:border-white
    focus-visible:outline-none
    hover:bg-gray-400
    hover:bg-opacity-25;
}

/* -- Mobile Navigation -- */

.mobile-menu-button {
  @apply inline-flex
    items-center
    justify-center
    rounded-md
    p-2
    text-white
    hover:bg-gray-400
    hover:bg-opacity-25
    sm:hidden;
}

.mobile-menu-icon {
  @apply block h-6 w-6;
}

.mobile-menu {
  @apply space-y-1 pb-3 pt-2;
}

.mobile-menu-item {
  @apply block
    rounded-md
    px-3
    py-2
    text-base
    text-white
    font-medium
    hover:bg-gray-400
    hover:bg-opacity-25;
}

/* -- User Navigation -- */

.user-menu-wrapper {
  @apply flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0;
}

.user-menu {
  @apply relative ml-3;
}

.user-menu-button {
  @apply relative
    flex
    rounded-full
    text-sm
    focus:outline-none
    focus-visible:ring-2
    focus-visible:ring-white;
}

.user-img {
  @apply text-white hover:text-gray-200;
}

.user-navigation {
  @apply absolute
    right-0
    z-10
    mt-2
    w-48
    origin-top-right
    rounded-md
    bg-white
    py-1
    shadow-lg
    ring-1
    ring-black
    ring-opacity-5
    focus:outline-none;
}

.user-navigation-item {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100;
}

/* -- NavLink Active -- */

.active {
  @apply bg-gray-900 bg-opacity-25;
}


.header-avatar {
  @apply w-9 h-9 rounded-full;
}