.response {
    &-title {
        @apply my-10;
    }

    &-item {
        @apply mb-5 border-2 p-2;
    }

    &-answer {
        @apply text-base p-2;

    }

    &-question {
        @apply text-xl font-bold px-2;
    }

    &-bottom {
        @apply flex gap-3 mt-10 flex-wrap;
    }

    .button {
        @apply flex
        justify-center
        items-center
        rounded-md
        bg-theme
        px-3
        py-1.5
        text-sm
        font-semibold
        leading-6
        text-white
        shadow-sm;

        &:hover {
            @apply bg-theme-dark;
        }
    }
}