.edit-form-wrapper {
  @apply h-full;

  .sidebar {
    @apply bottom-0 sm:top-auto left-0 sm:left-auto rounded-none sm:rounded-md h-max w-[calc(100vw-4rem)] sm:bottom-auto sm:h-[calc(100dvh-6.5rem)];
    @apply fixed w-full sm:w-40 md:w-60 flex flex-col justify-between pt-3 pb-4 z-20;

    .options {
      @apply grid gap-2 grid-cols-3 sm:grid-cols-1 justify-center;
    }

    .buttons {
      @apply flex sm:flex-wrap-reverse gap-2 mt-4;
    }
  }

  .working-area {
    @apply h-full pb-32 sm:pb-0 sm:pl-44 md:pl-64;
    @apply grid gap-6;
    grid-template-rows: auto 1fr;
    
    .title-input {
      @apply bg-transparent hover:bg-transparent;
      @apply text-3xl leading-9;

      ~ .error-text {
        @apply text-center;
      }
    }

    .description-input {
      @apply bg-transparent hover:bg-transparent mt-2;
    }

    .questions {
      @apply grid gap-2 content-start;
    }

    .questions-empty {
      @apply h-full flex justify-center items-center text-gray-400;
      @apply border border-2 border-dashed border-gray-400 rounded-md;
    }
  }
}
