.toggle {
  @apply inline-flex items-center flex-wrap relative gap-2;

  .toggle-input {
    @apply absolute opacity-0 w-full h-full;
  }

  .toggle-switch {
    @apply inline-flex relative;
    @apply bg-gray-300 rounded-md w-8 h-2 transition-all cursor-pointer;

    &::before {
      @apply absolute content-[''] w-4 h-4 z-10 top-1 left-0;
      @apply bg-gray-500 rounded-full transition-all;
      transform: translate(0, -50%);
    }
  }

  .toggle-input:checked + .toggle-switch {
    @apply bg-accent-light;

    &::before {
      @apply bg-accent;
      transform: translate(100%, -50%);
    }
  }
}
