.question-card {
  @apply border border-gray-300 rounded-md grid relative bg-white shadow-sm cursor-move;

  .body {
    @apply px-4 pt-4;

    .inputs {
      @apply flex flex-col gap-2 sm:flex-row;
    }

    .answer {
      @apply px-3 py-4 text-gray-600 italic;
    }  
  }

  .actions {
    @apply flex gap-4 border-t border-gray-300 justify-end text-sm sm:text-base;

    .delete {
      @apply border-l border-gray-300 p-2;
    }
  }
  &--delete {
    @apply shadow-red-400;
  }
}

.answers {
  @apply mt-2 mb-4 ml-3 grid gap-2;

  .answer-item {
    @apply grid cursor-default gap-2;
    grid-template-columns: auto 1fr auto;
  
    .answer-icon {
      @apply w-4 h-4 rounded-sm border border-2 border-gray-400 mr-1 mt-3;

      &.radio {
        @apply rounded-full;
      }
    }
  }  
}
