.loader {
  @apply w-12 rounded-full;
  aspect-ratio: 1;
  background: 
    radial-gradient(farthest-side,#22796F 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#22796F);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: rotate 1s infinite linear;

  &__wrapper {
    @apply flex items-center justify-center;
    @apply fixed top-1/3 left-0 right-0;
  }
}
@keyframes rotate { 
  100%{transform: rotate(1turn)}
}