.form-control {
  @apply flex flex-col bg-transparent w-full;
}
.input {
  @apply w-full outline-0 px-3 py-2 border border-gray-300 rounded-lg bg-white;
}

.input:focus,
.input:hover {
  @apply border border-theme bg-white;
}

.input.invalid {
  @apply border-red-500;
}

.input.disabled {
  @apply bg-gray-100 pointer-events-none opacity-80;
}

.error-text {
  @apply text-sm text-red-500 tracking-normal;
}

.input.light {
  @apply border-0 border-b rounded-none px-2 py-1;
}

.input.center {
  @apply text-center;
}
