.select-wrapper {
  @apply flex flex-col bg-transparent w-full relative;

  .select {
    @apply w-full pl-3 pr-10 py-2 transition appearance-none block cursor-pointer;
    @apply outline-0 border border-gray-300 rounded-lg bg-white;
  
    &:focus,
    &:hover {
      @apply border border-theme bg-white;
    }
  }

  .select-icon {
    @apply absolute top-3 right-3 pointer-events-none;
  }
}
