.me {
    @apply lg:p-10;
    @apply md:min-h-96;
    @apply relative m-auto border-solid border-2 border-theme rounded-2xl max-w-screen-md;
    @apply px-2 py-6;

    @media screen and (min-width: 320px) {
        @apply min-h-60;
    }

    &-success {
        @apply lg:top-10 lg:right-10;
        @apply absolute top-2 right-2;
        @apply w-10;

        svg {
            @apply w-10 h-10;
        }
    }

    &-form {
        @apply sm:w-3/4;
        @apply flex flex-col gap-2 mx-auto px-3;
    }

    &-icon {
        @apply lg:w-full;
        @apply w-1/2 max-w-md m-auto;
    }

    &-fio {
        @apply text-center m-2;
    }

    &-email {
        @apply text-center;
    }

    &-loader {
        @apply flex gap-x-3 items-center cursor-pointer mb-3 mx-auto mt-10;

        span {
            em {
                @apply block text-sm mt-1.5;
            }
        }

        input {
            @apply hidden;
        }
    }

    &-avatar {
        &__preview {
            @apply relative w-1/2 mx-auto;

            img {
                @apply lg:w-full;
                @apply w-60 h-60 m-auto object-cover mt-10;
                border-radius: 50%;
            }

            &-name {
                @apply text-center mt-2;
            }

            &-remove {
                @apply absolute top-0 right-0 w-6 h-6 block cursor-pointer;

                path {
                    fill: #22786f;
                }

                &:hover {
                    path {
                        fill: #11564f;
                    }
                }
            }
        }
    }
}