.form {
  @apply flex flex-col px-5 py-6 bg-white rounded-lg w-full sm:w-1/2 md:w-1/3 shadow mx-auto;
}

.error-text {
  @apply text-center text-sm text-red-500;
}

.btn-eye {
  @apply absolute right-3 top-1/2 w-6 h-6 text-gray-400;
  transform: translateY(-50%);
}